extends layout

block content
  div.navbar-group
    h1= title
    div.button-group
      button.log-in(type='submit') Log in
      button.sign-up(onClick="location.href='/sign-up'") Sign up

  div.homepage-group
    h1="You must be logged in to Chatter"
    div.homepage-button-group
      button.log-in() Log in
      button.sign-up(onClick="location.href='/sign-up'") Sign up

