extends layout

block content
  if user 
    each message in messages
      div.messages
        | #{message.title}
        | #{message.username}
        | #{message.date_formatted}
        | #{message.messageText}
        if user.admin === true 
          form(method="POST" action="/delete")
            button.delete-button(type="submit") Delete
    if user.status === true
      div.create-message
        form(method="POST" action="/message")
          div.create-message-group
            input(type="text" name="title" placeholder="title" required)
            br
            input(type="text" name="messageText" placeholder="message..." required)
            button.btn-primary(type='submit') Submit


  else
    .homepage-group
      h1 You must be logged in to Chatter
      .homepage-button-group
        button.log-in(onclick="location.href='/login'") Log in
        button.sign-up(onclick="location.href='/signup'") Sign up

