extends layout

block content
  div.navbar-group
    a(href="/")
      h1= title
    div.button-group
      button.log-in(onClick="location.href='/login'") Log in
      button.sign-up(onClick="location.href='/signup'") Sign up

  div.homepage-group
    h1 You must be logged in to Chatter
    div.homepage-button-group
      button.log-in(onClick="location.href='/login'") Log in
      button.sign-up(onClick="location.href='/signup'") Sign up


