doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    div.navbar-group
      a(href="/")
        h1= "ChatterZone"
      div.button-group
        if user 
          button.log-in(onClick="location.href='/logout'") Log out
          button.sign-up(onClick="location.href='/signup'") Sign up
        else
          button.log-in(onClick="location.href='/login'") Log in
          button.sign-up(onClick="location.href='/signup'") Sign up
  body
    block content
