extends layout

block content
    div.profile-form
        h1=title    
        form(method="POST" action="/profile")
            p.profile-form-message Enter club password to chat, admin password to delete messages.
            div.form-group
                label(for="clubpassword") Club Password:
            div.input-group
                input(type="password" name="clubpassword")
            div.form-group
                label(for="adminpassword") Admin Password:
            div.input-group
                input(type="password" name="adminpassword")
            div.button
                button.btn-primary(type='submit') Join
            if errorMessage 
                p= errorMessage


