extends layout 

block content
    div.navbar-group
        a(href="/")
            h1="ChatterZone"
        div.button-group
            button.log-in(type='submit') Log in
            button.sign-up(type='submit') Sign up

    div.sign-up-form
        h1=title
        form(method="POST")
        div.form-group
            label(for="username") Username: 
        div.input-group
            input(type="text" name="username" required)
        div.form-group
            label(for="password") Password: 
        div.input-group
            input(type="password" name="password" required)
        div.form-group
            label(for="password") Confirm Password: 
        div.input-group
            input(type="password" name="password" required)
        div.button
            button.btn-primary(type='submit') Sign Up
