extends layout 

block content 
    div.sign-up-form
        h1=title
        form(method="POST")
        div.form-group
            label(for="username") Username: 
        div.input-group
            input(type="text" name="username" required)
        div.form-group
            label(for="password") Password: 
        div.input-group
            input(type="password" name="password" required)
        div.form-group
            label(for="password") Confirm Password: 
        div.input-group
            input(type="password" name="password" required)
        div.button     
<<<<<<< HEAD
            button.btn-primary(type='submit') Sign Up
=======
            button.btn-primary(type='submit') Sign Up
>>>>>>> db305628f99b7723c36ec0d2aec0c7537138b336
