body {
  font: 1.5rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #222222;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

input {
  border-radius: 8px;
}

input:focus {
  outline: none;
  border: solid 2px #EA4C89;
}

.flexjustifycenter {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  height: 4rem;
  padding: 10px 16px;
}

/*navbar at top of home page */
.navbar-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button-group {
  display: flex;
  gap: 10px;
}

/* body of home page */

.homepage-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.homepage-button-group {
  display: flex;
  gap: 10px;
}

/* log-in button on navbar */

.log-in {
  background-color: #EA4C89;
  color: #FFFFFF;
}

.log-out {
  background-color: #EA4C89;
  color: #FFFFFF;
}

.sign-up {
  background-color: #222222;
  border: 1px solid #EA4C89;
  color: #EA4C89;
}

/*sign-up form styles*/

.sign-up-form {
  border: 1px solid white;
  border-radius: 10px;
  padding-bottom: 5px;
  max-width: 30rem;
  margin: 10rem auto;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
}

.form-group {
  display: flex;
  justify-content: center;
  margin: 1rem;
  color: white;
}

.input-group {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

/*button on sign-up form*/
.button {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.btn-primary {
  background-color: #EA4C89;
  color: #FFFFFF;
}

.login-form {
  border: 1px solid white;
  border-radius: 10px;
  padding-bottom: 5px;
  max-width: 30rem;
  margin: 10rem auto;
}
body > div.login-form > p {
  display: flex;
  justify-content: center;
}

.messages {
  color: white;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  font-size: 14px;
}

.message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  margin: 5px;
  padding-right: 1rem;
}

.create-message-group {
  width: calc(100vw - 40px);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.message-input {
  padding: 10px;
  flex-grow: 1;
  border: solid 1px #c3c3c3;
  color: white;
  border-radius: 10px;
  background-color: #222222;
  margin-right: 1rem;
}

.error-message {
  text-align: center;
}

.user-status {
  display: flex;
  margin-left: 1rem;
}

.profile-form {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  max-width: 300px;
  margin: 0 auto;
}

.profile-form-message {
  text-align: center;
}

.delete-button {
  background-color: #EA4C89;
  color: #FFFFFF;
}